@import 'variables';

.dropdown {
  position: relative;
  
  &_btn {
    height: 30px;
    width: 30px;
  }

  &_content {
    height: 60px;
    width: 60px;
    background-color: white;
    border-radius: $base-border-radius;
    padding: 8px;
    position: absolute;
    top: 30px;
    right: 0px;
    display: none;
    z-index: 1;
  
    a {
      font-size: 12px;
    }

  }
  
  &:hover .dropdown_content{
    display: block;
  }
  
}