@import 'variables';

.dropdown {
  position: relative;
  
  &_btn {
    height: $base-icon-size;
    width: $base-icon-size;
  }

  &_content {
    width: $base-icon-size * 2;
    background-color: white;
    border-radius: $base-border-radius;
    padding: $base-padding-size * 0.5;
    position: absolute;
    top: $base-icon-size;
    right: 0px;
    display: none;
    z-index: 1;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.3);
  
    a {
      font-size: $base-font-size * 0.5 ;
    }

  }
  
  &:hover .dropdown_content{
    display: block;
  }
  
}

.icon {
  height: $base-icon-size;
  width: $base-icon-size;
  border-radius: 100%;  
}
