$base-bg-color: whitesmoke;
$base-font-color: black;
$base-font-size: 22px;
$primary-color: darkorange;
$base-padding-size: 20px;
$base-border-radius: 10px;
$base-margin-size: 12px;
$base-icon-size: 30px;
$box-height: 40px;
$large-box-height: 160px;
$flash-height: 40px;

