@import 'variables';

.board {
  width: 100%;
  height: 160px;
  border: none;
  border-radius: $base-border-radius;
  background-color: $base-bg-color;
  padding: $base-padding-size;
  margin-bottom: $base-padding-size;
  position: relative;

  p {
    font-size: 16px;
    color: darkgray
  } 

  &_header {
    display: flex;
    justify-content: space-between;
  }

  &_avatar {
    height: 30px;
    width: 30px;
    border-radius: 100%;
    position: absolute;
    bottom: $base-padding-size;
    left: $base-padding-size;
  }

}

.newlink {
  background-color: #fff;
  border: 3px dashed $base-bg-color;
  text-align: center;
  vertical-align: middle;
  line-height: 160px;
  padding: 0;
}
