@import 'variables';

header {
  padding: $base-padding-size;
  display: flex;
  justify-content: space-between;
  border-bottom: 0.5px solid silver;
  height: 10%;
}

.header {
  &_pageTitle {
    font-size: $base-font-size;
  }

}


